@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');
:root{
  height: 100%;
}
body{
  height: 100vh;
  background-color: #202733;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MainDiv{
  height: 50vh;
}
.MainBox{
  font-family: 'Manrope', sans-serif;
  background-color: #313A48;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 80vw;
  min-height: min-content;
  border-radius: 10px;
  position: relative;
}

.Advices{
  color: #CEE3E9;
  padding-top: 1.5rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.adviceNumber{
  color: #53FFAA;
  font-size: 0.8rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
 
}
.divider{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.divider img{
  width: 80%;
}

.buttonContainer{
  border-radius: 50px;
  cursor: pointer;
  position: fixed;
  transform: translateY(1.8rem);
  position: relative;
}

.buttonContainer button{
  border: none;
  box-shadow: none;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #53FFAA;
  cursor: pointer;
}

.buttonContainer img{
  width: 20px;
  height: 40%;
}
.buttonContainer button:active {
  animation: button-press 0.2s ease-in-out;
  box-shadow: 0 0 10px #53ffaa;
  transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
  outline: none;
}

@keyframes button-press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 770px) {
  .buttonContainer button:hover {
    box-shadow: 0 0 10px #53FFAA;
  }
  .Advices{
    font-size: 2rem;
  }
}